.cache/
.pytest_cache/
.idea/
.vscode
tmp/
*.iml
.python-version
*.pyc
*.pyo
*.env
.DS_Store
__pycache__/
30_db_migrations.config
40_datadog_agent.config
40_etl_cron.config
.plaintext
terraform/kubernetes/deployment.yaml
modules.json
.envrc
.netrc
.pre_commit_install
poetry.lock
.poetry_check
